body{
    font-family:Georgia, 'Times New Roman', Times, serif;  
    background-image: url(./bg.jpg);
    background-size:cover;
}
#header{
    border: 1px solid grey;
    justify-content: center;
    display: flex;
padding: 10px;
}
#userAge{
    display: flex;
    justify-content: center;
    border: 1px solid grey;
}